<div class="profil">
    <ngx-avatars githubId="Pololasticocotier" size="100"></ngx-avatars>

    <div class="profilText">
        <p>Poloooo</p>
        <p>Simo</p> 
    </div>

</div>


<div class="subMenuList">
    <a routerLink="/home" routerLinkActive="active"> <mat-icon>bookmark_border</mat-icon> My Proposal </a>
    <a routerLink="/my-group" routerLinkActive="active"><mat-icon>supervisor_account</mat-icon> My Groups</a>
</div>


<div class="icon-display">
    <mat-icon class="customIconSize">settings</mat-icon>
    <mat-slide-toggle class="customIconSize"> <mat-icon>brightness_4</mat-icon> </mat-slide-toggle>
</div>