@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.container{
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    
}

.menu{
    width: 18%;
    padding: 1%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: 0;
    margin-top: 100px;
    margin-bottom: 10%;
    display: none;

}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    display: none;
}
